@import "../../../styles/variables";
@import "../../../styles/mixin";
.edit-contract{
  .el-form-item {
    margin-right: 0;
    float: left;
    .el-form-item__label {
      padding-right: 18px;
      color: $--color-text-primary;
    }
    .el-checkbox{
      color: $--color-text-primary;
    }
    &.is-error,&.is-success{
      .is-disabled .el-input__validateIcon{
        display: none;
      }
    }
  }
}
