@import "variables";
@import "mixin";
.panel{
  background: #fff;
  padding: 12px 18px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  .panel-title{
    padding-left: 14px;
    margin-bottom: 20px;
    font-size: 16px;
    color: $--color-text-primary;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: 16px;
      width: 4px;
      margin-top: -8px;
      top:50%;
      left: 0;
      background: $--color-primary;
    }
    &.has-right-btn{
      @include displayFlex(row,center,space-between);
    }
  }
  .panel-body{
    padding-bottom: 20px;
  }
}
