@import "../../../styles/variables";
@import "../../../styles/mixin";
.upload-dialog{
  .upload-box{
    width: 400px;
    height: 250px;
    padding: 20px 8px 20px 20px;
    border:1px dashed rgb(221,221,221);
    border-radius: 4px;
    background: #f3f9fe;
    margin: 20px auto 0;
    .upload-content{
      height: 320px;
    }
  }
  .upload-tip{
    @include displayFlex(row,center,flex-start);
    font-size: 12px;
    color: $--color-text-regular;
    margin-top: 10px;
    .el-progress{
      width: 200px;
      margin-left: 150px;
    }
  }
  .upload-scan{
    padding-top: 10px;
    .scan-scroll{
      height: 260px;
    }
  }
}
