.bill-info{
  .bill-table{
    .el-table__expanded-cell[class*=cell]{
      padding: 0;
    }
    .el-table--border th, .el-table--border td{
      border-right: none;
    }
    .el-table__row td:first-child{
      border-bottom: none;
    }
    .bill-expand-table{
      &:before{
        height: 0;
      }
      .el-table__body-wrapper{
        tbody{
          .el-table__row:last-child td{
            border-bottom: none;
          }
        }
      }
    }
  }
}
