@import "../../../../../styles/variables";
@import "../../../../../styles/mixin";
.sign-info{
  margin-top: 20px;
  .panel-body{
    padding-left: 13px;
  }
  .text-box{
    min-height: 30px;
    padding: 5px 0;
    color: $--color-text-regular;
    @include displayFlex(row,center,flex-start);
    width: 1000px;
    .text-item{
      @include displayFlex(row,center,flex-start);
      flex: 1;
      font-size: 14px;
      &.text-item-lg{
        width: 1000px;
      }
      color: #888;
      span:first-child{
        width: 125px;
        color: #363636;
        &:after{
          content: " ：";
        }
      }
      span:last-child{
        flex: 1;
        padding-right: 20px;
      }
    }
    .text-blue{
      color: $--color-primary !important;
    }
  }
}
